.card.registration {
  width: 40rem;
  margin: 0 auto;
  float: none;
  border-style: none;
}

.advertisement {
  background-color: #ada7c9;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.advertisement.row,
p,
h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
